    nav {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: rgba(18, 4, 82, 0.747);
    }

    nav .brand-logo, nav ul a{
        margin-left: 20px;
        color: rgba(18, 4, 82, 0.747);
    }

    nav ul a{
        font-size: 30px;
    }

#about{
    margin-top: 25px;
}

    body{
        background-color: rgba(255, 230, 0, 0.541);
    }

#content h1{
    font-family: 'Shadows Into Light', cursive;
    color:  rgba(18, 4, 82, 0.747);
}

#content p{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 22px;

}

.parallax img{
    width:100%;
}

